<div>
  <md-toolbar color="primary">
    <h1>Pokedex</h1>

    <span class="spacer"></span>

    <md-input-container dividerColor="accent">
      <input md-input placeholder="Search a pokemon by name" [(ngModel)]="name"/>
    </md-input-container>

    <span class="spacer"></span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="sortBy('ename', 'ASC')">
      <md-icon>swap_vert</md-icon>

      <span>name asc</span>
    </button>

    <button md-menu-item (click)="sortBy('ename', 'DESC')">
      <md-icon>swap_vert</md-icon>

      <span>name desc</span>
    </button>

    <button md-menu-item (click)="sortBy('id', 'ASC')">
      <md-icon>swap_vert</md-icon>

      <span>id asc</span>
    </button>

    <button md-menu-item (click)="sortBy('id', 'DESC')">
      <md-icon>swap_vert</md-icon>

      <span>id desc</span>
    </button>

    <button md-menu-item (click)="sortBy('type1', 'ASC')">
      <md-icon>swap_vert</md-icon>

      <span>type 1 asc</span>
    </button>

    <button md-menu-item (click)="sortBy('type1', 'DESC')">
      <md-icon>swap_vert</md-icon>

      <span>type 1 desc</span>
    </button>

    <button md-menu-item (click)="sortBy('type2', 'ASC')">
      <md-icon>swap_vert</md-icon>

      <span>type 2 asc</span>
    </button>

    <button md-menu-item (click)="sortBy('type2', 'DESC')">
      <md-icon>swap_vert</md-icon>

      <span>type 2 desc</span>
    </button>
  </md-menu>

  <md-nav-list>
    <div *ngFor="let pokemon of (pokemons | filterBy:'ename':name | sortBy:toSort:sortingType)">
      <md-list-item (click)="onSelect(pokemon)">
        <img md-list-avatar src="/images/thm/{{pokemon.id}}{{pokemon.ename}}.png" />

        <h3 md-line>{{pokemon.id}} &#x000B7; {{pokemon.ename}}</h3>

        <p md-line>
          {{pokemon.cname}} - {{pokemon.jname}} - {{pokemon.type[0]}} - {{pokemon.type[1]}}
        </p>
      </md-list-item>

      <pokemonDetails [pokemon]="pokemon" [skills]="skills" [types]="types"></pokemonDetails>
    </div>
  </md-nav-list>

</div>
