<md-toolbar color="primary">
  <h1>Pokedex</h1>

  <span class="spacer"></span>

  <md-input-container dividerColor="accent">
    <input md-input placeholder="Search by name" [(ngModel)]="name"/>
  </md-input-container>

  <span class="spacer"></span>

  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>

<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item (click)="sortBy('ename', true)">
    <md-icon>swap_vert</md-icon>

    <span>name asc</span>
  </button>

  <button md-menu-item (click)="sortBy('ename', false)">
    <md-icon>swap_vert</md-icon>

    <span>name desc</span>
  </button>

  <button md-menu-item (click)="sortBy('id', true)">
    <md-icon>swap_vert</md-icon>

    <span>id asc</span>
  </button>

  <button md-menu-item (click)="sortBy('id', false)">
    <md-icon>swap_vert</md-icon>

    <span>id desc</span>
  </button>

  <button md-menu-item (click)="sortBy('type1', true)">
    <md-icon>swap_vert</md-icon>

    <span>first type asc</span>
  </button>

  <button md-menu-item (click)="sortBy('type1', false)">
    <md-icon>swap_vert</md-icon>

    <span>first type desc</span>
  </button>

  <button md-menu-item (click)="sortBy('type2', true)">
    <md-icon>swap_vert</md-icon>

    <span>second type asc</span>
  </button>

  <button md-menu-item (click)="sortBy('type2', false)">
    <md-icon>swap_vert</md-icon>

    <span>second type desc</span>
  </button>
</md-menu>

<md-toolbar color="primary">
  <md-input-container dividerColor="accent">
    <input md-input placeholder="Search by id" [(ngModel)]="id">
  </md-input-container>

  <span class="spacer"></span>

  <md-input-container dividerColor="accent">
    <input md-input placeholder="Search by first type" [(ngModel)]="type1">
  </md-input-container>

  <span class="spacer"></span>

  <md-input-container dividerColor="accent">
    <input md-input placeholder="Search by second type" [(ngModel)]="type2">
  </md-input-container>
</md-toolbar>

<md-nav-list>
  <span *ngFor="let pokemon of (pokemons | filterBy:'ename':name | filterBy:'id':id | filterBy:'type1':type1 | filterBy:'type2':type2 | sortBy:toSort:asc)">
    <md-list-item (click)="pokemon.toggleSelected()">
      <img md-list-avatar [src]="pokemon.getImg('thm')" />

      <h3 md-line>{{pokemon.id}} &#x000B7; {{pokemon.ename}}</h3>

      <p md-line>
        {{pokemon.type1}}<span *ngIf="pokemon.type2"> &#x02013; {{pokemon.type2}}</span>
      </p>
    </md-list-item>

    <div [@pokemonSelected]="pokemon.selected">
      <pokemonDetails *ngIf="pokemon.selected" [pokemon]="pokemon"></pokemonDetails>
    </div>
  </span>
</md-nav-list>
